* 
{
	background-color: transparent;
	margin: 0;
	padding: 0;
}

body 
{
	width: 128px;
	height: 128px;

	border: red 1px solid;
	background-color: transparent;
}

#gadgetBackground
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
	background-color: transparent;
}